<iframe
    src="https://player.twitch.tv/?channel={{.streamer}}"
    height="600"
    width="800"
    allowfullscreen="<allowfullscreen>">
</iframe>
<iframe 
        id="chat_embed"
        src="http://twitch.tv/embed/{{.streamer}}/chat?popout="
        height="400"
        width="800">
</iframe>